* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  font-size: 14px;
  background-color: #fafafa;
  font-weight: 400;
  font-family: Roboto;
  color: #252B42;
  line-height: 1;
}

.wrapper {
  max-width: 661px;
  margin: 0px auto;
}

.search-input {
  background: rgb(196, 196, 196);
  min-height: 763px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input input {
  border: none;
  outline: none;
  width: 500px;
  height: 61px;
  margin-top: 62px;
  padding-left: 13px;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 400;
}

.search-input .autocomplete{
  width: 500px;
}

.search-input .autocomplete{
  opacity: 1;
  pointer-events: auto;
  /* display: none; */
}

.search-input .autocomplete li{
  display: block;
}

.search-input .autocomplete li {
  border: 1px solid;
  list-style: none;
  padding-left: 13px;
  border: 2px solid rgb(0, 0, 0);
  background: rgb(227, 227, 227);
  height: 44px;
  overflow: hidden;
  display: none;
} 
.search-input .autocomplete button{
font-size: 30px;
background: rgb(227, 227, 227);
width: 100%;
text-align: left;
}
.user-list {
  margin-top: 265px;
  overflow: hidden;
  width: 501px;
  /* height: 300px; */
}
.user-list li{
  /* margin-bottom: 15px; */
  font-size: 24px;
  /* height: 100px; */
  padding: 8px 16px;
  background: rgb(226, 123, 235);
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-list li p{
  margin-bottom: 5px;
}
.user-list li div{
  width: 50%;
  overflow: hidden;
}
.user-list__button {
  background-color: rgb(226, 123, 235);
  /* width: 20px;
  height: 20px; */
  margin-right: 15px;
  position: relative;
}
.user-list__button img:last-child{
  position: absolute;
  left: 1px;
}
